.ads {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

.ads .adTitles {
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
}

.popupList {
    width: 70vw;
    height: auto;
    display: flex;
    place-items: center;

}

/*items*/

.PopupItem {
    width: 100px;
    height: 100px;
    padding: 30px;
    margin: 50px;

}

.PopupItem:hover {
    cursor: pointer;
}

.PopupItem div {
    border-radius: 15px, 15px, 15px, 15px;
    border-style: outset;
}