.menu {
    width: 100%;
    height: auto;
    font-family: 'Courier New', Courier, monospace;
}

.menuTitle img {
    margin-top: 5px;
}

.menuTitle img:hover {
    cursor: pointer;
    transition: 0.5% ease-in-out;
}

#mybutton {
    cursor: pointer;
}

.PopupList {
    width: 100%;
    height: 100%;
    border-style: outset;
}

/*items*/

.popupItem {
    border-style: outset;
    box-shadow: #000;
    margin: 0;
    margin-top: 43px;
    margin-left: 79px;
    margin-inline-end: 53px;
    padding: 0;
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    height: 301px;
    width: 301px;

}

.popupItem:hover {
    cursor: pointer;
    transition: 0.5% ease-in-out;

}

.popupItem div {
    background-position: -134%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 268px;
    margin-left: 17px;
    margin-top: 15px;
    padding: -8px;
    position: absolute;
    position: -webkit-sticky;
    position: sticky;
    -webkit-transform: translate(var(--x-position), var(--y-position)) scale(.75);
    transform: translate(var(--x-position), var(--y-position)) scale(.75);
    transition: all .3s ease;
    width: 268px;

}

/*
.popupItem h1 {
    font-size: 3ch;
    margin-left: 50px;
    margin-right: -50px;
    margin-top: -69px;
}
.popupItem p {}
*/


.popupItem p:hover {
    cursor: pointer;
}


@media only screen and (max-width: 1300px) {
    .PopupList {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media only screen and (max-width: 800px) {
    .PopupList {
        grid-template-columns: repeat(5, 1fr);
    }
}