.menu {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

.menu .menuTitle {
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
}

.PopupList {
    width: 70vw;
    height: auto;
    display: flex;
    place-items: inherit;
    border-style: outset;
}

/*items*/

.popupItem {
    width: 500px;
    height: 500px;
    padding: 30px;
    margin: 50px;
    box-shadow: black;
    border-radius: 15px, 15px, 15px, 15px;


}

.popupItem:hover {

    cursor: pointer;
}

.popupItem div {

    width: 100px;
    height: 5px;
    padding: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
.popupItem h1 {
    font-size: 3ch;
    margin-left: 50px;
    margin-right: -50px;
    margin-top: -69px;
}


.popupItem p {
    font-weight: bold;
    margin-left: 220px;
    margin-right: -1000px;
    margin-top: -105px;
    padding: 10px;
    background-color: #868686;
}
*/
@media only screen and (max-width: 1300px) {
    .PopupList {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 800px) {
    .PopupList {
        grid-template-columns: 1fr;
    }
}